#yachts .section-title {
  text-align: center;
  margin: 0 auto 75px;
  width: 710px;
}
.yacht-list {
  display: flex;
  gap: 32px;
  margin-bottom: 50px;
}

.yacht .container {
  padding: 0 100px;
}

.yacht-list-item {
  border-radius: 24px;
  background: #fbfbfb;
  width: calc(100% - 2 * 32px) / 5;
  padding: 16px 16px 32px;
}

.yacht-list-image {
  border-radius: 24px;
  margin-bottom: 32px;
}

.yacht-list-title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 16px;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: -0.04em;
  text-transform: uppercase;

  color: #1b414b;
  border-bottom: 1px solid rgba(4, 3, 6, 0.1);
}

.yacht-list-title-type {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #04030666;
}

.options-item {
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #04030666;
}
.option-item-value {
  color: #040306;
  text-transform: none;
}

.yacht-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  border: 1px solid rgba(251, 251, 251, 0.35);
  border-radius: 15px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.options-item {
  display: flex;
  font-size: 14px;
  text-align: left;
  justify-content: space-between;
}
.option-item-value {
  width: 96px;
}

.option-wrapper {
  padding: 0 16px;
}

.yacht-link {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid rgba(251, 251, 251, 0.35);
  border-radius: 15px;

  margin: 0 auto;
  max-width: 180px;
  height: 52px;
}
